<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>

</head>
<body>

	<nav>
		<div>
			<h3>Pay My Buddy</h3>
		</div>
		<div>
			<h3><a th:href="@{/}">Home</a></h3>
			<h3><a th:href="@{/transfer}">Transfer</a></h3>
			<h3><a th:href="@{/profile}">Profile</a></h3>
			<h3><a th:href="@{/contact}">Contact</a></h3>
			<h3><a th:href="@{/logoff}">Log off</a>	</h3>
			<h3><a th:href="@{/createUser}">Create user</a>	</h3>
		</div>
	</nav>
	<section>
		<div>
			<p>chemin</p>
		</div>
		<section>
			<h3>Balance</h3>
									
			<h4><span th:text="${user} ? ${user.balance} : 'No account' "></span></h4>
			
			<h3>Reload PayMyBuddy Account</h3>
			<form th:action="@{/}" method="POST">
				<select name="bankAccount">
					<option value="">Select A Bank Account</option>
					<option th:each="bankAccount : ${bankAccounts}" th:value="${bankAccount.ibanNumber}"
						th:text="${bankAccount.accountDescription}">
					
				</select>
				<input type="number" name="amount" min="0"  /> 
				<input type="submit" name="reload" value="Reload!" />
			</form>
				<h5><a th:href="@{/addBankAccount}">Add Bank Account</a>	</h5>
		</section>
		<section>
			<div>
				<h3>My Transactions</h3>
			</div>
			<div>
				<table>
					<thead>
						<tr>
							<th>Connections</th>
							<th>Description</th>
							<th>Amount</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:if="${transactionsList.empty}">
							<td colspan="3">Aucune transaction</td>
						</tr> 
						<tr th:each="transaction : ${transactionsList}">
							<td><span th:text="${transaction.creditor.getFirstName()}"></span></td>
							<td><span th:text="${transaction.description}"></span></td>
							<td><span th:text="${transaction.amount}"></span></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</section>

	</section>
</body>

</html>