<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Transfer</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
   </head>
   <body>
            
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
  		<div class="container-fluid">
    		<a class="navbar-brand btn btn-success" href="#">Pay My Buddy</a>
    		<button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse nav justify-content-end" id="navbarNavAltMarkup">
    			<div class="navbar-nav ">
        			<a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
       				<a class="nav-link" th:href="@{/transfer}">Transfer</a>
        			<a class="nav-link" th:href="@{/profile}">Profile</a>
       				<a class="nav-link" th:href="@{/contact}">Contact</a>
        			<a class="nav-link" th:href="@{/admin}">Admin</a>
         			<a class="nav-link" th:href="@{/login}">Log off</a>
      			</div>
    		</div>
  		</div>
	</nav>
	
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb ms-3">
	    <li class="breadcrumb-item active" aria-current="page">Home</li>
	    <li class="breadcrumb-item active" aria-current="page">Transfer</li>
	  </ol>
	</nav>
	
	<section class="container-md">
		
		
		<section>
			<h3>Send Money</h3>
			<h3><a th:href="@{/addRelationship}">Add Connection</a></h3>
			
			<h3>Balance</h3>
			<h4><span th:text="${user} ? ${user.balance} : 'No account' "></span></h4>
			
			<form th:action="@{/transfer}"  method="POST"> <!-- th:object="${transaction}" -->
				
					<select name="emailCreditor" id="connection" >
						<option value="">Select A Connection</option>
						<option th:each="friend: ${friends}" th:value="${friend.email}"
							th:text="${friend.firstName}" > <!-- th:field="*{creditor}"    -->
				</select>
				<input type="text" name="description" />
				<input type="number" name="amount" min="0"  /> <!--  th:field="*{amount}"   -->
				<input type="submit" name="pay" value="Pay" />
				
			</form>
		</section>
		<section>
			<div>
				<h3>My Transactions</h3>
			</div>
			<div>
				<div class="border border border-secondary">
					<table class="table table-striped ">
						<thead >
							<tr class="table-success ">
								<th class="nav justify-content-center">Connections</th>
								<th >Description</th>
								<th class="nav justify-content-center">Amount</th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:if="${transactionsList.empty}">
								<td colspan="3">Aucune transaction</td>
							</tr> 
							<tr th:each="transaction : ${transactionsList}">
								<td><span class="nav justify-content-center" th:text="${transaction.creditor.getFirstName()}"></span></td>
								<td><span class="nav justify-content-center" th:text="${transaction.description}"></span></td>
								<td><span class="nav justify-content-center" th:text="${transaction.amount}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<nav aria-label="Page navigation example">
				  <ul class="pagination nav justify-content-center">
				    <li class="page-item">
				      <a class="page-link" href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li class="page-item"><a class="page-link" href="#">1</a></li>
				    <li class="page-item"><a class="page-link" href="#">2</a></li>
				    <li class="page-item"><a class="page-link" href="#">3</a></li>
				    <li class="page-item">
				      <a class="page-link" href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</section>

	</section>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	</body>
   
</html>